dotenv
langchain-google-vertexai
langchain-text-splitters
langchain-community
langchain-nvidia-ai-endpoints
langchain_ollama
gpt4all
langchain-community
langchain-chroma
faiss-cpu
langgraph
beautifulsoup4
tiktoken
pypdf
pdfplumber
ctransformers
sentence_transformers
torch
langchain_huggingface
unstructured
unstructured[all-docs]
ollama
streamlit
gradio
pdfplumber 
langchain
langchain-core
langchain-ollama
langchain_community
langchain_text_splitters
unstructured
unstructured[all-docs]
onnx==1.16.1
protobuf==3.20.3
chromadb==0.4.22
Pillow
numpy
pytesseract
tesseract
langchain_neo4j